.matches{
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  border-radius: 10px;
  background-color: var(--grey);

  .title{
    width: 100%;
    color: var(--light-grey);
    font-weight: bold;
    padding: 10px 0;
    text-align: center;
  }

  .message{
    color: var(--light-grey);
    padding: 10px 0;
  }
}

.match{
  width: 100%;
  cursor: pointer;
  border-top: 0.01em solid var(--black);

  .match-info{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 5px 0;
    
    .team, .info-container{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      & .logo{
        width: 32px;
        height: 32px;
      }

      .date{
        color: var(--light-grey);
        font-weight:lighter;
      }
  
      .score {
        font-size: 16px;
      }
    }
  }

  .match-scorers{
    display: flex;
    justify-content: space-between;
    padding: 10px ;
    color: var(--light-grey);
    
    .scorers{
      display: flex;
      flex-direction: column;
      gap: 5px;
    }
    
    .scorers.home{
      text-align: right;
    }
  }

  .match-menu{
    display: flex;
    flex-direction: column;

    ul{
      width: 100%;
      display: flex;
      justify-content: center;
      list-style: none;
      
      
      li{
        padding: 5px;
        color: var(--light-grey);
        transition: 0.03s ease;
      }

      .selected{
        color: var(--yellow);
        border-bottom: 2px solid var(--yellow);
      }
    }
  }



  .predictions{
    display: flex;
    background: var(--black);
    border: 0.01em solid var(--grey);

    & .team-prediction {
      width: 50%;

      & span {
        display: flex;
        justify-content: space-between;
        padding: 10px 15px;
      }
    }
  }
}