.lineups {
  display: flex;
  flex-direction: column;
  background-color: var(--background);
  border: 0.01em solid var(--table);

  .title-lineup {
    text-transform: uppercase;
    background-color: var(--table);
    color: var(--light-grey);
    padding: 5px;
    text-align: center;
  }

  .starters,
  .substitutes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    .team {
      display: flex;
      flex-direction: column;

      .player {
        display: grid;
        grid-template-columns: 1fr 9fr;
        border-top: 0.01em solid var(--table);
        column-gap: 10px;
        padding: 3px 5px;

        .shirt {
          width: 20px;
          height: 20px;
          position: relative;

          .number {
            font-size: 8px;
            color: var(--white);
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 1;
            text-shadow: 2px 0 var(--background), -2px 0 var(--background),
              0 2px var(--background), 0 -2px var(--background),
              1px 1px var(--background), -1px -1px var(--background),
              1px -1px var(--background), -1px 1px var(--background);
          }
        }
      }
    }

    .team:first-child {
      border-right: 0.01em solid var(--table);
    }
  }
}
