.standings-container {
  display: grid;
  grid-template-columns: auto;
  width: 100%;
  background-color: var(--table);
  border-radius: 14px;
  font-size: 12px;
}

.standings {
  display: grid;
  grid-template-columns: 1fr;
  padding: 0 10px 10px 10px;

  .title {
    padding: 10px 0;
    grid-column: 1 / -1;
    font-size: 14px;
    text-align: center;
  }

  .row {
    display: grid;
    grid-template-columns: 0.5fr 0.5fr 5fr repeat(7, minmax(10px, 1fr));
    grid-template-rows: 35px;
    column-gap: 5px;
    align-items: center;
    text-align: right;
  }

  .header > *:first-child {
    text-align: left;
    grid-column: 1 / -8;
  }

  .team {
    .name {
      text-align: left;
    }

    .logo {
      height: 30px;
      width: 30px;
      margin: auto;
      background-color: var(--background);
      padding: 3px;
      border-radius: 7px;
    }
  }
}
