@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --background: #1b1b1b;
  --white: #eeeeee;
  --table: #0d0d0d;
  --light-grey: #b6b6b6;
  --yellow: #ffd369;
  --yellow-1: #efc807;
  --yellow-2: #ffd269b0;
  --red: #d2001a;
  --field-green: #3b9140;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  color: var(--white);
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

main {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  align-items: start;
  justify-items: center;
  padding: 20px 10px;
  gap: 10px;
}
