:root {
  --black: #12141a;
  --black-shadow: #22283188;
  --white: #EEEEEE;
  --grey: #212330;
  --light-grey: #848fa0;
  --yellow: #FFD369;
  --red: #D2001A;
  --field-green: #3B9140;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

body {
  color: var(--white);
  background-color: var(--black);
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

main{
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: center;
  padding: 20px;
  gap: 20px;
}







