:root {
  --black: #12141a;
  --black-shadow: #22283188;
  --white: #EEEEEE;
  --grey: #212330;
  --light-grey: #848fa0;
  --yellow: #FFD369;
  --red: #D2001A;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

body {
  color: var(--white);
  background-color: var(--black);
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

main{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
}

.message{
  color: var(--light-grey);
}

.standings-container{
  display: grid;
  grid-template-columns: auto;
  max-width: 600px;
  width: 100%;
  background-color: var(--grey);
  border-radius: 10px;
  font-size: 13px;
  border: 0.01em solid var(--light-grey);
}

.standings{
  display: grid;
  grid-template-columns: 1fr;
  gap: 5px;
  padding: 10px;
  border: 0.01em solid var(--light-grey);

  .title {
    color: var(--light-grey);
    font-weight: bold;
    grid-column: 1 / -1; /* Ocupa todas las columnas de la primera fila */
  }

  .team{
    display: grid;
    grid-template-columns: auto 1fr;
  }
}

